<div>
    <h1>GUESS THE PLAYER</h1>

    <div class="container" id="game">
        <div class="backgrounds">
            <div class="card-player">

                <!-- Player´s name --> 
                <h3 class="mb-3">Lionel Messi</h3>

                <!-- Player´s info --> 
                <div class="player">
                    
                    <div class="info">

                        <!-- Stats -->
                        <div class="stats">
                            <div class="stat">
                                <p><span>Country: </span>ARG</p>
                            </div>
                            <div class="stat">
                                <p><span>Position: </span>DEL</p>
                            </div>
                            <div class="stat">
                                <p><span>First season: </span>04/05</p>
                            </div>
                            <div class="stat">
                                <p><span>Last season: </span>20/21</p>
                            </div>
                        </div>

                        <!-- Image -->
                        <div>
                            <img src="/img/lio.png" alt="Lionel Messi" class="img-player">
                        </div>
                    </div>
                    

                    <!-- Journey -->
                    <div id="journey">

                        <!-- Previous team -->
                        <div id="previousTeam">
                            <img src="/img/Masia.png" alt="La Masia" class="img-club">
                        </div> 

                        <!-- Arrow -->
                        <div class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </div>

                        <!-- FCB -->
                        <div id="fcb">
                            <img src="/img/FCB.png" alt="" class="img-club">
                        </div> 

                        <!-- Arrow -->
                        <div class="arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </div>

                        <!-- Next team -->
                        <div id="nextTeam">
                            <img src="/img/psg.png" alt="" class="img-club">
                        </div> 
                    </div>
                </div>
            </div>
        </div>

        <!-- Player´s card -->
        <div class="card-player">

            <!-- Player´s name --> 
            <h3 class="mb-3">Unknow</h3>

            <!-- Player´s info --> 
            <div class="player">
                
                <div class="info">

                    <!-- Stats -->
                    <div class="stats">
                        <div class="stat">
                            <p><span>Country: </span>???</p>
                        </div>
                        <div class="stat">
                            <p><span>Position: </span>???</p>
                        </div>
                        <div class="stat">
                            <p><span>First season: </span>???</p>
                        </div>
                        <div class="stat">
                            <p><span>Last season: </span>???</p>
                        </div>
                    </div>

                    <!-- Image -->
                    <div>
                        <img src="/img/player-silhouette.png" alt="Lionel Messi" class="img-player">
                    </div>
                </div>
                

                <!-- Journey -->
                <div id="journey">

                    <!-- Previous team -->
                    <div id="previousTeam">
                        <img src="/img/club-silhouette.png" alt="La Masia" class="img-club">
                    </div> 

                    <!-- Arrow -->
                    <div class="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </div>

                    <!-- FCB -->
                    <div id="fcb">
                        <img src="/img/FCB.png" alt="" class="img-club">
                    </div> 

                    <!-- Arrow -->
                    <div class="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                        </svg>
                    </div>

                    <!-- Next team -->
                    <div id="nextTeam">
                        <img src="/img/club-silhouette.png" alt="" class="img-club">
                    </div> 
                </div>
            </div>
        </div>

        
    </div>
</div>